
services:
  n8n:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: n8n_yta
    restart: always
    ports:
      - "127.0.0.1:5678:5678"
    volumes:
      - ./n8n-data:/home/node/.n8n
      - ../base:/files
    environment:
      # Define o fuso horário para o contêiner (ex: America/Sao_Paulo)
      - GENERIC_TIMEZONE=${GENERIC_TIMEZONE:-America/Sao_Paulo}
      # Define o usuário e senha para a interface do n8n (OPCIONAL)
      # Descomente as linhas abaixo e substitua pelos seus valores
      # - N8N_BASIC_AUTH_USER=seu_usuario
      # - N8N_BASIC_AUTH_PASSWORD=sua_senha_forte
      # Endereço público do n8n, necessário para webhooks
      - WEBHOOK_URL=http://195.200.5.133:5678
    networks:
      - n8n-network

  nginx:
    image: nginx:latest
    container_name: nginx_proxy_yta
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      # Volume para certificados SSL (gerenciados pelo Certbot, por exemplo)
      # - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - n8n
    networks:
      - n8n-network

networks:
  n8n-network:
    driver: bridge
